{% extends 'layout/base.html' %}

{% block content %}
	{% include 'elements/nav.html' %}
	<div id="content" class="bg-gradient container  no_left no_right">
		<div class="text-center">
			{% if messages %}
				{% for message in messages %}
					<p class="text-{{ message.tags }}">{{ message }}</p>
				{% endfor %}
			{% endif %}
			<form action="" role="form" method="post">
				{% csrf_token %}
				<div class="form-group">
					<label>{{ form.label }}</label>
					{{ form }}
				</div>
				<button type="submit" class="btn btn-success">Verificar</button>
			</form>
		</div>
	</div>
{% endblock content %}