{% load staticfiles %}
<div class="first-part">
	<div class="slide">
		<div id="wowslider-container1">
			<div class="ws_images">
				<ul>
					<li><img src="{% static 'images/header3.jpg' %}" alt="" title="SECRETARIA DE PLANEACION" id="wows1_0"/>CARMEN DE APICALA</li>
					<li><img src="{% static 'images/header2.jpg' %}" alt="" title="SECRETARIA DE PLANEACION" id="wows1_1"/>CARMEN DE APICALA</li>
					<li><img src="{% static 'images/header1.jpg' %}" alt="" title="SECRETARIA DE PLANEACION" id="wows1_0"/>CARMEN DE APICALA</li>
				</ul>
			</div>
		</div>
	</div>
	<nav>
		<ul>
			<li class="active">
				<i></i>
				<a class="gradient-lightblue" href="{% url 'home' %}">INICIO</a>
			</li>
			<li>
				<i></i>
				<a class="gradient-lightblue" href="#">GESTION</a>
			</li>
			<li>
				<i></i>
				<a class="gradient-lightblue" href="materials.htm">TRAMITES</a>
			</li>
			<li>
				<i></i>
				<a class="gradient-lightblue" href="equipments.htm">ALGOMAS</a>
			</li>
			<li>
				<i></i>
				<a class="gradient-lightblue" href="services.htm">SERVICES</a>
			</li>
			<li>
				<i></i>
				<a class="gradient-lightblue" href="products.htm">PRODUCTS</a>
			</li>
			<li>
				<i></i>
				<a class="gradient-lightblue" href="careers.htm">CAREERS</a>
			</li>
		</ul>
	</nav>
	<div class="clear"></div>
</div>